<div class="tab features" data-group="primary" data-tab="features">
    <div class="attributes grid grid-3col">
        <div class="attribute flex-group-center">
            <label for="system.attributes.soma.value">{{ localize "BROKENTALES.Attributes.Soma" }}</label>
            <div class="attribute-value">
                <input type="number" name="system.attributes.soma.value" value="{{system.attributes.soma.value}}" data-dtype="Number"/>
                <span class="sep"> / </span>
                <input type="number" name="system.attributes.soma.max" value="{{system.attributes.soma.max}}" data-dtype="Number"/>
            </div>
        </div>
        
        <div class="attribute flex-group-center">
            <label for="system.attributes.wounds.value">{{ localize "BROKENTALES.Attributes.Wounds" }}</label>
            <div class="attribute-value">
                <input type="number" name="system.attributes.wounds.value" value="{{system.attributes.wounds.value}}" data-dtype="Number"/>
                <span class="sep"> / </span>
                <input type="number" name="system.attributes.wounds.max" value="{{system.attributes.wounds.max}}" data-dtype="Number"/>
            </div>
        </div>
        
        <div class="attribute flex-group-center">
            <label for="system.attributes.xp">{{ localize "BROKENTALES.Attributes.XP" }}</label>
            <input type="number" name="system.attributes.xp" value="{{system.attributes.xp}}" data-dtype="Number"/>
        </div>
    </div>
</div>