<div class="effects-section">
  <h3>{{localize "BROKENTALES.Effects.Active"}}</h3>

  <ol class="effects-list">
    {{#each effects as |effect id|}}
    <li class="effect flexrow" data-effect-id="{{effect._id}}">
      <div class="effect-image">
        <img
          src="{{effect.icon}}"
          title="{{effect.label}}"
          alt="{{effect.label}}"
          width="24"
          height="24"
        />
      </div>

      <div class="effect-name">
        <h4>{{effect.label}}</h4>
        {{#if effect.duration.label}}
        <p class="effect-duration">{{effect.duration.label}}</p>
        {{/if}}
      </div>

      <div class="effect-controls">
        {{#if effect.isDisabled}}
        <a
          class="effect-control effect-toggle"
          data-action="toggle"
          title="{{localize 'BROKENTALES.Effects.Enable'}}"
        >
          <i class="fas fa-check"></i>
        </a>
        {{else}}
        <a
          class="effect-control effect-toggle"
          data-action="toggle"
          title="{{localize 'BROKENTALES.Effects.Disable'}}"
        >
          <i class="fas fa-times"></i>
        </a>
        {{/if}}
        <a
          class="effect-control effect-edit"
          data-action="edit"
          title="{{localize 'BROKENTALES.Edit'}}"
        >
          <i class="fas fa-edit"></i>
        </a>
        <a
          class="effect-control effect-delete"
          data-action="delete"
          title="{{localize 'BROKENTALES.Delete'}}"
        >
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>

  <div class="effect-controls">
    <a class="effect-control effect-create" data-action="create">
      <i class="fas fa-plus"></i> {{localize "BROKENTALES.Effects.AddEffect"}}
    </a>
  </div>
</div>
